{{>header}}

   <h2>Cursos disponibles</h2>
   <ul>
      {{{listar}}}
   </ul>
   <h3>Datos del estudiante</h3>
   <p>Identificación: {{id}} </p>
   <p>Nombre: {{nombre}} </p>
   <p>Correo: {{correo}} </p>
   <p>Teléfono: {{telefono}} </p>

{{>footer}}